/* CSS CODE HERE */
/* NAV BAR */

ul{
    list-style-type: none;
    display: inline;
}
ul li{
    padding-right: 50px;
    display: inline;
    vertical-align: middle;
}
#fullheader{
    height: 900px;
    background-image: url(/images/box.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#header1{
    /*PLACEHOLDER */
}
#logo{
    height: 250px;
}
#header2{
    color: rgba(255,255,255,0.5);
    padding: 20px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 25px;
}
#header3{
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 9pt;

}