/* CSS CODE HERE */

/* NAV BAR */

ul{
    list-style-type: none;
    display: inline;
}
ul li{
    padding-right: 50px;
    display: inline;
    vertical-align: middle;
}
#fullheader{
    height: 900px;
    background-image: url("/images/box.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#header1{
    /*PLACEHOLDER */
}
#logo{
    height: 200px;
}
#header2{
    color: rgba(255,255,255,0.5);
    padding: 10px 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 25px;
}
#header3{
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
    display: inline;
}
/*
.lisocialmedia{
    padding-right: 0px;
    vertical-align: middle;
    width: 55px;
    margin-right: 0px;
}
*/

/* HERO */

#Herotext{
    font-size: 65px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #ffffff;
    line-height: 1.2;
    vertical-align: bottom;
    margin-top: 500px;
    text-align: center;
    margin-bottom: 0px;
}

/* ALL SPLITS */

.doublebox{
    height: 930px;
    width: 99.9%;
    display: inline-block;
}
.boxtext{
    color: #ffffff;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
    padding-top: 30%;
    text-align: center;
    margin: 40px 0px 0px;
}
.paragraphs{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    padding: 240px 46px 0px;
    vertical-align: middle;
}
.imgblock{
    width: 49.8%;
    display: inline-block;
}
.txtblock{
    width: 49.8%;
    display: inline-block;
    color: black;
    font-family: "Roboto", sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 30px; 
}

/* FIRST SPLIT */

.A{
    height: 930px;
    display: inline-block;
}
#founderwithboxes{
    background-image: url("/images/founder-with-boxes.jpeg");
    height: 930px;
    background-repeat: no-repeat;
    width: 49.8%;
    background-size: cover;
    margin: 40px 0px 0px;
}

/* SECOND SPLIT */

#louis{
    background-image: url(/images/statia.png);
    height: 930px;
    background-repeat: no-repeat;
    width: 49.8%;
    background-size: cover;
    margin: 40px 0px 0px;
}
.B{
    height: 810px;
    display: inline-block;
}

/* THIIRD SPLIT */

.C{
    height: 960px;
    display: inline-block;
}
#mailbox{
    background-image: url(/images/mailbox.png);
    height: 960px;
    background-repeat: no-repeat;
    width: 49.8%;
    background-size: cover;
    margin: 40px 0px 0px;
}

/* FOOTER */

.footer{
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    font-size: 15px;
    line-height: .2;
}
#bigfoot{
    font-weight: 500;
    line-height: 1.2;
    font-size: 25px;
}

/* ALL BUTTONS */

#MoreAboutUs{
background-color: #17a2b8;
border-color: #17a2b8;
font-family: Roboto, sans-serif;
font-size: 25px;
color: #ffffff;
text-align: center;
padding: 6px 12px
}
#Donate{
    background-color: #28a745;
    border-color: #28a745;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding: 6px 12px
}
#BeAnAmbassador, #Subscribe{
    background-color: #007bff;
    border-color: #007bff;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding: 6px 12px
}
#ContactUs{
    background-color: #ffc107;
    border-color: #ffc107;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: #212529;
    text-align: center;
    padding: 6px 12px
}

/* FORM STUFF */
#form{
    display: inline-block;
    width: 80%;
    height: 190px;
}
.formname{
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin-bottom: 14px;
    font-size: 25px;
}
#formemail{
    font-size: 25px;
    width: 560px;
    padding-right: 0px;
}